.container {
    display: table-caption;
}

.launchpadmini {
    display: inline-grid;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    background-color: #202020;
    padding: 12px;
    border-radius: 16px;
}

.streamdeck {
    display: inline-grid;
    grid-template-rows: 80px 80px 80px 80px;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-gap: 4px;
    background-color: #202020;
    padding: 16px;
    border-radius: 16px;
    margin-top: 16px;
}

.cc, .circle_note {
    border-radius: 100%;
    margin: 14px;
    font-size: 24px
}

.cc:hover, .circle_note:hover {
    background-color: #e2e2e2;
}

.cc:active, .circle_note:active {
    background-color: #f4f4f4;
}

.note {
    margin: 4px;
    font-size: 24px
}

#output_device_list {
    padding-inline-end: 14px;
}

#message {
    padding-inline-start: 10px;
    color: #ff6347;
}